*{
    box-sizing: border-box;
}

body{
    background-image: url('./images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    color: white;
    display: flex;
    font-family: Open sans-serif;
    font-size: 1.4em;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.flex {
    display: flex;
    width: 100%;
    margin-left: 40px;
    margin-top: 100px;
}

.flex #pantalla {
    width: 600px;
}

.flex > div {
    flex: 1;
}
.flex > div :first-child{
    margin-right: 20px;
}

.flex > div :last-child{
    margin-left: 0;
    text-align: center;
}

#container {
    margin-top: -50px;
    margin-left: 30px;
}

#container #logo {
    margin-left: 40px;
    margin-top: 120px;
}

.title {
    margin: 60px;
    margin-right: 80px;
}

.title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: left;
    line-height: 40px;
}

.title p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: left;
}

button{
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0, 3) ;
    border: none;
    color:  hsl(257, 40%, 49%);
    font-size: 24px;
    padding: 20px 80px;
}
.social-links{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    list-style-type: none;
    position: absolute;
    bottom: -250px;
    right: 70px;
}
.social-links a {
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
        margin: 50px 0;
    }
    
    .flex > div :first-child{
        flex: 1;
        margin-right: 0;
    }
    
    .flex > div :last-child{
        flex: 1;
        margin-left: 0;
        text-align: center;
    }

    .social-links{
        justify-content: center;
        bottom: -330px;
    }   

    .title {
        text-align: center;
    }

    .title h1 {
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        
    }

    .title p {
        text-align: center;
        font-size: 13px;
    }

    .flex #pantalla {
        width: 270px;
        margin: 40px;
        margin-left: 60px;
        margin-top: -10px;
    }

    #container #logo {
        margin-left: 60px;
        width: 200px;
    }
}